# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameForR40G.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dinar\Desktop\GameForR40G\.idea\.idea.GameForR40G\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
